body {
	background-color: #161616;
	color: #ededed;
	font-family: "Segoe UI", sans-serif;
	margin: 0;
}

.list-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.list-page__header-container {
	align-items: center;
	border-bottom: 1px solid #333;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
	padding: 20px 40px;
}

.list-page__header {
	background-color: #161616;
	color: #aeffde;
	flex: 1;
	font-size: 1.5em;
	font-weight: bold;
	margin: 0;
}

.list-page__main {
	flex: 1;
	margin-left: auto;
	margin-right: auto;
	max-width: fit-content;
	padding: 40px;
}

.list-page__title {
	color: #ebff08;
	margin-bottom: 20px;
}

.list-page__table-wrapper {
	overflow-x: auto;
	text-align: center;
	width: 100%;
}

.list-page__table {
	background-color: #1e1e1e;
	border-collapse: collapse;
	border-radius: 8px;
	overflow: hidden;
	width: 100%;
}

.list-page__thead th,
.list-page__table td {
	border-bottom: 1px solid #333;
	padding: 0.5em;
	text-align: left;
}

.list-page__thead th {
	color: #888;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 1em 1.5em;
	text-transform: uppercase;
}

.list-page__row:last-child td {
	border-bottom: none;
}

.list-page__text-ellipsis {
	display: inline-block;
	margin-left: 1em;
	max-width: clamp(80px, 50vw, 450px);
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

.list-page__row td:nth-child(4),
.list-page__row td:nth-child(5) {
	width: 120px;
}

.list-page__icons {
	display: flex;
	font-size: 1.4em;
	gap: 10px;
}

.list-page__btn {
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 0.85em;
	font-weight: bold;
	max-width: 100px;
	padding: 6px 12px;
	text-align: center;
	width: 100%;
}

.list-page__btn--edit {
	background-color: #aeffde;
	color: #161616;
}

.list-page__btn--delete {
	background-color: #bd362d;
	color: #fff;
}

@media (768px <= width <= 1400px) {
	.list-page__text-ellipsis {
		max-width: clamp(80px, 15vw, 450px);
	}
}

@media screen and (width <= 768px) {
	.list-page__header-container {
		flex-direction: column;
	}

	.list-page__header {
		text-align: center;
	}

	.list-page__table {
		background-color: transparent;
		border: 0;
	}

	.list-page__thead {
		display: none;
	}

	.list-page__row {
		background-color: #1e1e1e;
		border: 1px solid #333;
		border-radius: 8px;
		display: block;
		margin-bottom: 15px;
		padding: 10px;
	}

	.list-page__row td {
		border-bottom: 1px solid #333;
		display: flex;
		justify-content: space-between;
		padding: 10px 5px;
		text-align: right;
	}

	.list-page__row td::before {
		color: #888;
		content: attr(data-label);
		float: left;
		font-weight: bold;
		text-transform: uppercase;
	}

	.list-page__row td:last-child {
		border-bottom: none;
	}

	.list-page__icons {
		justify-content: flex-end;
	}

	.list-page__btn {
		font-size: 0.85em;
		margin-inline: auto;
		padding: 8px;
		width: 100%;
	}

	.list-page__row td:nth-child(4),
	.list-page__row td:nth-child(5) {
		width: 100%;
	}
}

@media (width <= 480px) {
	.list-page__text-ellipsis {
		max-width: clamp(80px, 15vw, 450px);
	}
}
